@media (max-width: 1100px) and (min-width: 1000px) {
	header, footer{
		color:red;
	}
}

@media (max-width: 1000px) {
	#links {
		width: auto;
		display: block;
		float: none;
		margin-right: 0;
	}
}

@media (max-width: 1000px) and (min-width: 801px) {
	#links ul {
		display: flex;
	}

	#links li {
		margin-left: 2em;
	}
}

@media (max-width: 800px) {
	#links {
		background-color: transparent;
		margin: 20px 0;
	}

	#links ul {
		text-align: center;
	}

	#links li {
		margin: 10px 0;
		background-color: grey;
	}
}

@media (max-width: 500px) {
	#image {
		width: auto;
		margin: 0;
	}

	#wrapper {
		width: auto;
	}
}
